<div class="user-form">
            <form action="pay" method="POST">
                <h2 style="text-align: center;">Please enter your details</h2>
                <input name="username" id="username" placeholder="Name" type="text" required>
                <input name="useremail" id="useremail" placeholder="Email" type="email" required>
                <input id="usercontact" type="tel" name="usercontact" required>

                <button type="submit" class="register continue">Continue</button>
            </form>
        </div>